/*Above the fold design*/
html, body, #atf, #btf {
    padding: 0;
    margin: 0;
    border:0;
    height: 100%;
    box-sizing: border-box;
}

#atf {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #7cff6e;
}


h1, h2, h3, p {
    font-family: Avenir, Pier Regular, sans-serif;
}

h1 {
    font-size: 48px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nav{
	background-color: #FFFFFF;
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid black;
	display:flex;
	text-align:right;
}

#nav a{
	color: black;
	text-decoration:none;		
}

#nav a:visited{
	color:black;
	text-decoration:none;
}

#btf {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items:center;
}

#btf p{
    width:200px;
    text-align:center;
}

#btf #bgimg{
/*    background-image: url("../imgs/orangetrans.png");
    background-repeat: repeat-x;*/
    overflow:hidden;
}

#contacts{
    margin: 0px;
    padding: 0px;
    border: 0;
    background-color:#ffa14d;
    overflow:hidden;
}

.column {
    margin: auto;
    display: inline-block;
    width: 25%;
    float: left;
}

.column h3{
    text-align:center;
}

.greenbg{
    background-image: url("../imgs/greentrans.png");
    background-repeat: repeat-x;
}

.greenbg{
    background-image: url("../imgs/greentrans.png");
    background-repeat: repeat-x;
}
