/*Above the fold design*/
html, body, #atf {
	padding: 0;
	margin: 0;
	border:0;
	height: 100%;
	box-sizing: border-box;
}

#atf {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

#main{
	background-color: #4cb836;
}

#nav{
	background-image: url('../imgs/greentransrev.png');
	background-repeat: repeat-x;
}

.one{ 
    background: url(image1.png) no-repeat left top; 
    }

.two{
    background: url(image1.png) no-repeat left top;
    background: url(image2.png) no-repeat right bottom;
}

h1, h2 {
	font-family: Avenir, Pier Regular, sans-serif;
}

.column {
    margin: auto;
    display: inline-block;
    width: 25%;
    float: left;
}

.column h2{
	text-align:center;
}

.greenbg{
	background-image: url("../imgs/greentrans.png");
	background-repeat: repeat-x;
}
