<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gifs</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/main.css">
</head>

<body>
<div id="nav">
    <img style="width:100;height:100" src="https://storage.googleapis.com/ferrets-bucket/logoCorner.svg">
	<ul>
		<li><a href="#atf">Home</a></li>
		<li><a href="#btf">Mission</a></li>
		<li><a href="#contacts">Contacts</a></li>
		{{if .State}}
			<li><a href="/changepass">Change Password</a></li>
			<li><a href="/files">Files</a></li>
			<li><a href="/photos">Gallery</a></li>
        		<li><a href="/gif">Gifs</a></li>
			<li><a href="/logout">Logout</a></li>
			<li>  Welcome {{.Name}}</li>
		{{else}}
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		{{end}}
	</ul>
    </ul>

</body>

</html>
