<html>
<head>
	<title>Group Project</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<div id="atf">
	<center><h1>World of Ferrets</h1></center>
	<div id="slideshow">
		<figure>
			<!-- MATTT STOP USING LOCAL PICTURES. USE THE FUCKING GCS LINKS......
			TO get the GCS links. login to my gcs page. use the info i texted u.
			go to the hamburger menu, go to storage. pick the ferrets bucket. then
			you will see all the images. click on public links. use those.
			you can add more files to the bucket. DON'T FUCK ANYTHING UP MATT....XD-->
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret1.jpg">
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret3.jpg">
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret4.jpg">
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret12.jpg">
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret13.jpg">
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret9.jpg">
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret14.jpg">
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret11.jpg">
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret1.jpg">
			<img src="https://storage.googleapis.com/ferrets-bucket/ferret3.jpg">
		</figure>
	</div>
	<!--<img style="width:300;height:300;" src="https://storage.googleapis.com/ferrets/ferret_S.png">-->
</div>
<img class="trans" src="https://storage.googleapis.com/ferrets-bucket/greentrans.png">
<div id="nav">
	<img style="width:100;height:100" src="https://storage.googleapis.com/ferrets-bucket/logoCorner.svg">
	<ul>
		<li><a href="#atf">Home</a></li>
		<li><a href="#btf">Mission</a></li>
		<li><a href="#contacts">Contacts</a></li>
		{{if .State}}
			<li><a href="/changepass">Change Password</a></li>
			<li><a href="/files">Files</a></li>
			<li><a href="/photos">Gallery</a></li>
        		<li><a href="/gif">Gifs</a></li>
			<li><a href="/logout">Logout</a></li>
			<li>  Welcome {{.Name}}</li>
		{{else}}
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		{{end}}
	</ul>
</div>
<div id="btf">
	<center><h2>The Mission</h2></center>
	<img src="https://storage.googleapis.com/ferrets-bucket/ferret_H.jpg">
	<p>This site is dedicated to the glory of ferrets. We love ferrets and want to share that love with the rest of the world. For the people who love ferrets as well, this is a safe haven where you can talk and share your ferret images.</p>


</div>

<img class="trans" src="https://storage.googleapis.com/ferrets-bucket/orangetrans.png">
<div id="contacts">
	<center><h2>The team</h2></center>
	<div class="column">
		<h3>Matthew Morado</h3>
		<p>"Ferrets are pretty cool"</p>
	</div>
	<div class="column">
		<h3>Roberto Gorosave</h3>
		<p>"Ferrets are alright, I guess."</p>
	</div>
	<div class="column">
		<h3>Anahi Plasencia</h3>
		<p>"What are Ferrets?"</p>
	</div>
	<div class="column">
		<h3>Jairo Reyes</h3>
		<p>"I love ferrets as much as I love myself!"</p>
	</div>

</div>


</body>
</html>
