<html>
<head>
	<title>Group Project</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<div id="atf">
	<center><h1>World of Ferrets</h1></center>
	<div id="slideshow">
		<figure>
			<img src="../assets/imgs/ferret1.jpg">
			<img src="../assets/imgs/ferret3.jpg">
			<img src="../assets/imgs/ferret4.jpg">
			<img src="../assets/imgs/ferret12.jpg">
			<img src="../assets/imgs/ferret13.jpg">
			<img src="../assets/imgs/ferret9.jpg">
			<img src="../assets/imgs/ferret14.jpg">
			<img src="../assets/imgs/ferret11.jpg">
			<img src="../assets/imgs/ferret1.jpg">
			<img src="../assets/imgs/ferret3.jpg">
		</figure>
	</div>
	<!--<img style="width:300;height:300;" src="https://storage.googleapis.com/ferrets/ferret_S.png">-->
</div>
<img class="trans" src="https://storage.googleapis.com/ferrets/greentrans.png">
<div id="nav">
	<img style="width:50;height:50" src="../assets/imgs/ferret_S.png">
	<ul>
		<li><a href="#atf">Home</a></li>
		<li><a href="#btf">Mission</a></li>
		<li><a href="#contacts">Contacts</a></li>
	</ul>
</div>
<div id="btf">
	<center><h2>The Mission</h2></center>
	<img src="https://storage.googleapis.com/ferrets/ferret_H.jpg">
	<p>This site is dedicated to the glory of ferrets. We love ferrets and want to share that love with the rest of the world. For the people who love ferrets as well, this is a safe haven where you can talk and share your ferret images.</p>
</div>
<img class="trans" src="https://storage.googleapis.com/ferrets/orangetrans.png">
<div id="contacts">
	<center><h2>The team</h2></center>
	<div class="column">
		<h3>Matthew Morado</h3>
		<p>My name is Matthew Morado and I am a group member that helped work on this website. This website is focused on our love for ferrets and the worship of the Ferret God.</p>
	</div>
	<div class="column">
		<h3>Roberto</h3>
	</div>
	<div class="column">
		<h3>Anahi</h3>
	</div>
	<div class="column">
		<h3>Jairo Not Web</h3>
		<p>My last name is not Not Web</p>
	</div>
</div>
</body>
</html>
