<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	</head>

	<body>
		
		<div id="nav">
			<img style="width:50;height:50" src="../assets/imgs/ferret_S.png">
			<ul>
				<li><a href="/#atf">Home</a></li>
				<li><a href="/#btf">Mission</a></li>
				<li><a href="/#contacts">Contacts</a></li>
			</ul>
		</div>
		<div id="atf">
			<h1>Register</h1>
			<form method="POST">
				<p>Username</p>
				<input type="text" name="name">
				<p>Password</p>
				<input type="text" name="password">
				<center><input type="submit"></center>
			</form>
		</div>	
	</body>
</html>
