<html>
	<head>
		<title>Group Project</title>
		<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	</head>

	<body>
		<div id="atf">
			<center><h1>World of Ferrets</h1></center>
			<img style="width:640;height:360;" src="https://storage.googleapis.com/ferrets/ferret1.jpg">
		</div>
		<img style="background-repeat:repeat-x;width:100%;height:50px" src="https://storage.googleapis.com/ferrets/greentrans.png">
		<center><h1>The team</h1></center>
		<div class="column">
			<h2>Matthew Morado</h2>
			<p>My name is Matthew Morado and I am a group member that helped work on this website. This website is focused on our love for ferrets and the worship of the Ferret God.</p>
		</div>
		<div class="column">
			<h2>Roberto</h2>
		</div>
		<div class="column">
			<h2>Anahi</h2>
		</div>
		<div class="column">
			<h2>Jairo Web</h2>
		</div>
	</body>
</html>
